/*for admin page */
.admin-container{
    display:grid;
    grid-gap: 2em;
    grid-template-areas: 
        "chart chart user-manage";
    border-radius: 10px;
    padding: 20px;
}

.data-analytics {
    grid-area: chart;
    background-color: #1a1a1b;
}

/* for user management section */
.user-management {
    grid-area: user-manage;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-list {
    width: 100%;
}

.list-user {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-user img {
    height: 50px;
    width: 50px;
    float: right;
}

/* ... existing styles ... */

/* Sidebar Styles */
#trending-users-sidebar {
    width: 200px;
    background-color: #333;
    padding: 10px;
    color: white;
    height: 100vh; /* Full height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
}

#trending-users-list {
    list-style: none;
    padding: 0;
}

#trending-users-list li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

#trending-users-list li a:hover {
    background-color: #444;
}
