
.main-container {
    display: flex;
    align-items: flex-start;
    padding: 2.5em 1.25em 1.25em 1.25em;
}


.side-container {
    flex: 0 0 auto;
    padding: 0em 1.25em 1.25em 1.25em;
    width: auto;
    min-width: 12.5em;
    max-width: 18.75em;
    box-sizing: border-box;
    margin-bottom: -1.25em; 
}

.main-content,
.sidebar,
.chart-container {
    box-sizing: border-box;
    padding: 0em 1.25em 1.25em 1.25em;
}

.main-content {
    flex-grow: 1;
    overflow: auto;
    margin-left: 1.25em;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.chart-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    border-left: 0.1em solid rgba(255, 255, 255, 0.2);
    padding-left: 20px;
}

.chart-container h2 {
    align-items: start;
    margin: 0;
    padding: 20px 20px 20px 0; 
}


#analytics-dashboard {
    flex: 1;
    display: none;
    justify-content: center;
    align-items: center;
}

#myChart {
    width: 100% !important; /* override root style */
    height: auto !important; 
    max-height: 100% !important;
}


form {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 0.625em; 
}

form input[type="text"],
form .form-button {
    flex: 1; 
}

form .form-button {
    flex: none; 
    margin-left:  -0.625em; 
}

.analytics-button {
    font-family: var(--pondr-font);
    background-color: var(--input-background);
    color: var(--text-color);
    border: 0.1em solid var(--button-border);
    border-radius: 1em;
    transition: all 0.3s ease-in;
    padding: 1em; 
    text-decoration: none;
    margin-left: auto; 
    font-weight:bold;
    outline: none;
    cursor: pointer; 
    font-size: 1.25em; 
    margin: 0em 1em; 
    flex-shrink: 0; 
}

.top-container{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
    width: 100%;
    background-color: #333; 
    border-radius: 0.5em;
    padding: 1em;


}

.date-selection, .category-selection {
    margin-bottom: 10px;
    justify-content: space-between;
}

.date-selection label,
.category-selection label {
    margin-right: 5px;
}

.generate-button {
    font-family: var(--pondr-font);
    background-color: var(--input-background);
    color: var(--text-color);
    border: 0.1em solid var(--button-border);
    border-radius: 1em;
    transition: all 0.3s ease-in;
    padding: 1em;
    text-decoration: none;
    margin-left: auto;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    font-size: 1.25em;
    margin: 0em 1em;
    flex-shrink: 0;}

.line-container {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
    padding: 1em;
}

.date-input {
    padding: 0.5em;
    border: 1px solid #555; /* Darker border */
    border-radius: 0.25em; /* Rounded corners for the inputs */
    background-color: #222; /* Dark input fields */
    color: #ddd; /* Light text color */
    font-size: 1em;
}

.category-button {
    background-color: #444; /* Dark buttons */
    color: white;
    border: 2px solid #555; /* Solid border to make them stand out */
    padding: 0.75em 1.5em; /* Larger padding for a bigger button */
    font-size: 1em; /* Adjust font size as needed */
    text-transform: uppercase; /* Optional: make the text uppercase */
    margin: 0 10px; /* Space out the buttons */
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.category-button:hover {
    background-color: var(--button-hover-background);
}

.category-button.active {
    background-color: var(--button-active-background);
    color: var(--button-active-text-color);
}

.generate-button:hover {
    background-color: var(--primary-hover-color);
}



input[type="date" i] {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: inherit;
    margin-right: 1em;
    background-color: var(--input-background);
    color: var(--text-color);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1; /* make the default arrow invisible */
    display: block;
    background: url('path-to-your-custom-icon.png') no-repeat;
    width: 20px; /* make sure the width and height */
    height: 20px; /* are the same as your icon */
    border-width: thin;
}

input[type="date"]:hover::-webkit-calendar-picker-indicator {
    background-color: #eee; /* change color on hover */
}



/* Adjust responsiveness for smaller screens if necessary */
@media (max-width: 768px) {
    .line-container {
        flex-direction: column;
    }
    
    .date-selection, .category-selection, #generate-button {
        width: 100%;
    }
}




/*responsiveness*/
@media (max-width: 48em) {
    .center-container {
        flex-direction: column; /
    }

    .side-container,
    .main-content {
        flex-basis: 100%;
        max-width: none; 
    }

    .main-content {
        margin-left: 0;
    }

    .side-container {
        border-right: none;
        border-bottom: 0.125em solid #ccc; 
    }

    form {
        flex-direction: column; 
    }

    form input[type="text"],
    form .form-button {
        width: 100%; 
        margin-left: 0; 
    }
}
