/* Discussion Post Container (for home page discussion thread list) */
.discussion-container {
    width: 80%;
    background: var(--dark-blue);
    padding: 1em 2em;
    border-left: var(--button-border) solid 0.1em; 
}

.mini-thread {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.1em solid var(--button-border);
    border-radius: 0.5em;
    margin: 0.5em 0;
    padding: 0 0.5em;
    background: var(--input-background);
}
.mini-thread img{
    width: 100px;
    height: 100px;
    object-fit:cover;
}

.mini-thread article {
    flex-grow:1;
    margin-right: 1em;
}

.mini-thread a {
    color: white;
}

.mini-thread p {
    overflow: hidden;
    max-height: 4em;
}

@supports(-webkit-line-clamp: 3){
    .mini-thread p {
        max-height: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }
}


.discussion-container img {
    max-width: 200px;
}


/* overwriting */

.margin-down {
    justify-content: space-around;
}


/* styles for category box of home page */
.side-container {
    background: var(--dark-blue);
    border-radius: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.6vw;
    position: relative;
    justify-content: space-between;
}


.side-container ul {
    padding-left: 0;
    list-style-type: none;
    width:100%;
}

.side-container li {
    margin: 1em 0;
    width:100%;
    display:flex;
    justify-content: center;
}

.side-container a {
    color: white;
    display: block;
    background: var(--button-green);
    box-sizing: border-box;
    text-align: center;
    width: 90%;
    text-decoration: none;
    padding: 0.2em 0;
    transition: background-color 0.1s ease-in;
    border-radius: 0.5em;
}

.side-container a:hover {
    background: var(--input-hover);
}

.clear-category-btn {
    font-weight: bolder; 
    margin-top: auto; 
    padding: 10px; 
    display: block; 
    flex-direction: column;
}

@media only screen and (max-width: 480px) {

    .mini-thread {
        /* Increase the font size for better readability on small screens */
        font-size: 0.8em; 
        
    }

    .discussion-container .mini-thread article {
        /* Add more padding around each post for emphasis */
        padding: 20px;
        margin-bottom: 20px; /* Add more space between posts */
        
    }

    .discussion-container .mini-thread img {
        max-width: 100%; /* Ensure images in posts are fully visible */
        height: auto; /* Maintain aspect ratio */
        object-fit: contain;
        
    }
    a.create-community-btn {
        /* Make the "Join a community?" button smaller and less prominent */
        font-size: 0.8em;
        padding: 5px;
        margin-top: 20px;
    }



}