
.discussion-container {
    width: 80%;
    background: var(--dark-blue);
    padding: 1em 2em;
    border-left: var(--button-border) solid 0.1em;
}

.mini-thread {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.1em solid var(--button-border);
    border-radius: 0.5em;
    margin: 0.5em 0;
    padding: 0 0.5em;
    background: var(--input-background);
}

.mini-thread img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.mini-thread article {
    flex-grow: 1;
    margin-right: 1em;
}

.mini-thread a {
    color: white;
}

.mini-thread p {
    overflow: hidden;
    max-height: 4em;
}

.trending-title {
    text-align: center;
    border-bottom: var(--button-border) solid 0.1em;
    padding: 0 2em;
    margin: 0;
    margin-top: 3em;
}

@supports(-webkit-line-clamp: 3) {
    .mini-thread p {
        max-height: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }
}


.discussion-container img {
    max-width: 200px;
}

.profiles-container {
    display: flex;
    align-items: center;
    overflow: auto;
    flex-direction: row;
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: var(--button-border) solid 0.1em;
    width: 100%;
}

.profile {
    border: 0.1em solid var(--button-border);
    padding: 0.5em 1.5em;
    /* Adjusted padding */
    display: flex;
    flex-direction: row;
    background: var(--input-background);
    border-radius: 0.5em;
    text-align: center;
    transition: background-color 0.1s ease-in;
    margin-right: 0.5em;
    overflow-wrap: break-word;
    width: 15em;
    height: 7em;
}

.profile-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-left: 1em;
}

.profile-text>* {
    margin: 0.2em 0;
}

.profile:hover {
    background: var(--input-hover);
    cursor: pointer;
}

.profile-text>p:first-of-type {
    font-weight: bold;
    font-size: 1em;
}

.profile-text>p:nth-child(2) {
    font-size: 0.7em;
}

.profile>img {
    border-radius: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
    max-height: 80px;
    max-width: 80px;
}

.margin-down {
    justify-content: space-around;
}



.side-container {
    border-radius: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.6vw;
    position: relative;
    justify-content: space-between;
}


.side-container ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.side-container li {
    margin: 1em 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.side-container a {
    color: white;
    display: block;
    box-sizing: border-box;
    text-align: center;
    width: 90%;
    text-decoration: none;
    padding: 0.2em 0;
    transition: background-color 0.1s ease-in;
    border-radius: 0.5em;
    background: var(--input-background);
}

.side-container a:hover {
    background: var(--input-hover);
}

#clear-category-btn {
    font-weight: bolder;
    margin-top: auto;
    padding: 1em;
    display: block;
    flex-direction: column;
}

@media only screen and (max-width: 480px) {

    .mini-thread {

        font-size: 0.8em;
        position: flex;
    }

    .side-container {
        margin-left: 1em;
        border-radius: 1em;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2.6vw;
        position: flex;
        justify-content: space-between;

    }

    .discussion-container .mini-thread article {

        padding: 2em;
        margin-bottom: 20px;


    }

    .discussion-container .mini-thread img {
        display: none;
    }
}