/* form container styling (login & register for now) */
.form-container {
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1em solid var(--button-border);
    overflow-y: auto;

    border-radius: 0.5em;
}

.form-container form {
    padding: 2em 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%; /* for more dynamic sizing of certain forms */
}

.form-item {
    margin:0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    width: 100%;
    position: relative;
    align-items:center;
    box-sizing: border-box;

}

.form-item > label {
    min-width: 10em;
}

.form-item > input, .form-item > textarea {
    max-width: 80%;
    margin-left: 1em;
    flex-grow: 1;
}

.form-item > select {
    width: 100%;
}

.form-container legend {
    font-weight:bold;
    margin-bottom: 0.5em;
    font-size: 1.8em;
}

#char-count{
    float: right;
    font-size: 0.5rem;
    padding: 0.1rem 0 0 0;
    color: lightgray ;
  
}

.error-message {
    display: none; /* Hidden by default */
    position: relative;
    margin-top: 5px;
    background-color: #fff0f4; 
    color: #d8000c;
    border: 1px solid #f44336;
    border-radius: 4px;
    padding: 10px;
    font-size: 0.8em;
    text-align: left;
    /* bottom: -35px; */
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.error-message::before {
    content: "⚠";
    color: #d8000c;
    padding-right: 5px;
}

/* Adjust the height of .form-item when an error message is visible
.form-item.has-error {
    padding-bottom: 45px;
} */

/* highlight the input field when there is an error */
.form-item.c-error input,
.form-item.c-error select {
    background: #fff0f4; 
    border: 1px solid #c51244;
    color: #c51244;
}

/* Add styles for your label to indicate an error, if needed */
.c-label.c-error:after {
    content: '*';
    color: #c51244;
}

@media only screen and (max-width: 480px) {
.form-container {
margin: 1.1em;
margin-top: 10em;
}

.form-container form {
padding: 20px;
}

.form-item > label {
min-width: auto;
padding-right: 10px;
margin-bottom: 0.3em;
}

.form-item {
flex-direction: column;
align-items: flex-start;
}

.form-item > input,
.form-item > textarea,
.form-item > select {
width: 100%;
margin-left: 0;
margin-bottom: 0.3em;
}

.form-button {
width: 80%;
margin-bottom: 0.3em;;
}

.form-container legend,
.form-item > label,
.form-button {
font-size: 80%;
font-weight: bold;
margin-bottom: 0.3em;;
}

.error-message {
font-size: 0.8em;
}
}