/* form container styling (login & register for now) */
.form-container {
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container form {
    padding: 2em 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-item {
    margin:0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    width: 100%;
}

.form-item > input {
    max-width: 80%;
    margin-left: 1em;
}

.form-container legend {
    font-weight:bold;
    padding-top: 0.5em;
    font-size: 1.8em;
}

.form-button {
    font-size: 1em;
}