@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

/* global variables to keep colors and fonts consistent */
:root {
    --background-color: #161616;    
    --navbar-dark: linear-gradient(145deg, #0A0A0A, #161616); /* Gradient for navbar */
    --button-border: rgba(255, 255, 255, 0.2); /* Subtle border for buttons */
    --text-color: #ffffff; /* White text for contrast */
    --button-hover-bg: #2A2A2A; /* Darker for button hover */
    --input-background: #1E1E1E; /* Input fields background */
    --input-hover: rgba(255, 255, 255, 0.1); /* Highlight input on hover */
    --highlight-color: #3A7FFB; /* Highlights */
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    --pondr-font: 'Quicksand', sans-serif;
}

/* General a tag styling to change color for all links */
a {
    color: white;
} 

body {
    margin: 0;
    padding: 0;
    font-family: var(--pondr-font);
    background-color: var(--background-color); /* Solid color  background */
    color:var(--text-color);
    transition: all 0.2s ease; /* Smooth transition for color changes */
}

/*Styling for inputs, buttons links */
input[type="text"], input[type="email"], input[type="password"], button, .link-button, .form-button, .form-container textarea, .form-container select {
    font-family: var(--pondr-font);
    background-color: var(--input-background);
    color: var(--text-color);
    border: 0.1em solid var(--button-border);
    border-radius: 1em;
    transition: all 0.3s ease-in;
    padding: 0.5em;
    text-decoration: none;
    margin: 0em 0.5em;
    font-weight:bold;
    outline: none;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, button:hover, .link-button:hover, .form-button:hover, .form-container textarea:hover, .form-container select { 
    background-color: var(--button-hover-bg);
    border-color: var(--highlight-color);
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, button:focus, .link-button:focus, .form-button:focus, .form-container textarea:focus, .form-container select:focus {
    outline: 0.1em solid white;
    background-color: var(--button-hover-bg);
    border-color:var(--input-hover);
}

.form-button {
    cursor: pointer;
    font-size: 1em;
}

/* Top bar and container styling */
#top-bar {
    background-color: var(--navbar-dark);
    padding: 2vh 0vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
}
#top-bar-logo{
    width: 150px;
    margin: 0 1rem;
}

#top-search-bar {
    flex-grow: 1;
    margin: 0 5em;
}

#top-search-bar form {
    display: flex;
    align-items: center;
}

/* Updated search bar input to match new styling */
#top-search-bar input {
    background-color: var(--input-background);
    border: 1px solid var(--input-border);
    color: var(--text-color);
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius:10px;
}

.center-container {
    display:flex;
    justify-content: center;
    align-items:center;
    height: 94vh;
}

/* for containers that require scrolling */
.margin-down {
    margin-top: 2vw;
    align-items:flex-start;
    margin-bottom: 5em;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 94vh;
}

#top-search-bar-pfp {
    width: 40px;
    margin: 0 1rem;
}

#top-bar-profile {
    width: 40px;
    margin: 0 1rem;
}

@media (max-width: 700px) {
    #top-bar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #top-bar > *{
        width: 90%;
    }

    #top-bar .link-button {
        margin: 0.5em 0;
    }

    #top-search-bar {
        margin: 10px 0;
    }

    
}
/*/ stop here for styling page


