@import url('https://fonts.googleapis.com/css2?family=Montserrat');

:root {
    --dark-blue: rgba(35, 78, 107, 0.9);
    --light-blue:rgb(59, 118, 167);
    --button-green:#86daa9;
    --ponder-font: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: var(--light-blue);
    font-family: var(--ponder-font);
    background: url(./cool-background.png) no-repeat;
    background-size:cover;
    color: white;
}

input {
    font-family: var(--ponder-font);
}

.center-container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

/* top bar styling */
#top-bar {
    background-color: var(--dark-blue);
    padding: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-bar img {
    max-width: 100px;
}

/* search bar styling */
#top-search-bar {
    flex-grow: 1;
    margin: 0 10em;
}

#top-search-bar form {
    display: flex;
    align-items: center;
}

#top-search-bar input {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border-radius:5px;
    border: var(--dark-blue);
}

#top-search-bar button {
    padding: 1em;
    margin-left: 5px;
    background-color: var(--button-green);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--ponder-font);
}

/* register button styling */
.link-button {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background-color: var(--button-green);
    margin-left: 10px;
    border-radius: 5px;
    font-weight:bold;
    border: 0px;
}

@media (max-width: 650px) {
    #top-bar {
        flex-direction: column;
        align-items: stretch;
        text-align: center;
    }

    #top-search-bar {
        margin: 10px 0;
    }

    .link-button {
        margin: 10px 0;
    }
}

/* form container styling (login & register for now) */
.form-container {
    margin:auto;
    text-align:center;
    background:var(--dark-blue);
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container form {
    padding: 2em 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-item {
    margin:0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.form-item > input {
    flex-grow: 1; /* still making this work */
    margin-left: 1em;
}

.form-container legend {
    font-weight:bold;
    padding-top: 0.5em;
    font-size: 1.8em;
}

.form-button {
    padding: 0.5em;
    margin-left: 5px;
    background-color: var(--button-green);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--ponder-font);
}