/* For thread page */

.thread-img {
    float: right;
    max-width: 400px;
}

.thread-comments {
    width: 80%;
    border-radius: 10px;
    padding: 1em 2em;
    margin-top: 2em;
}

.thread-container {
    width: 80%;
    padding: 1em 2em;
    
}

.thread-comment-container {
    margin: 0.3em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    border-top: 0.1em solid var(--button-border);
    position: relative;
   
}

.thread-comment-reply {
    margin: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    font-family: var(--pondr-font);
    border-top: 0.1em solid var(--button-border);
    background-color: var(--background-color);
    color: var(--text-color);
    width:80%;
}
/* for sub comments to be indented */
.thread-comment-container .thread-comment-container {
    margin-left: 5em;
}

/* For the profile photo and metadata of comments to be displayed in threads */

.thread-comment-profile {
    display: flex;
    align-items: center;
}

.thread-comment-profile img {
    max-width: 50px;
    margin: 0.5em;
}
.thread-comment-box{
    font-family: var(--pondr-font);
    background-color: var(--input-background);
    color: var(--text-color);
    border: 0.1em solid var(--button-border);
    border-radius: 1em;
    transition: all 0.3s ease-in;
    padding: 0.5em;
    text-decoration: none;
    margin: 0em 0.5em;
    font-weight:bold;
    outline: none;
    width: 80%;
}
/* for the icons */
#icon-buttons{
    margin-top: 2em;
}

.com-more-options {
    position: absolute;
    display: inline-block;
    top: 0.5em;
    right: 0.5em;
    font-size: 1.2em;
    padding:1em;
}

@media only screen and (max-width: 480px) {
.thread-img {
float: none;
max-width: 100%;
margin: 0 auto; /* Center the image */
}

.thread-comments, .thread-container, .thread-comment-reply, .thread-comment-box {
width: 100%; /* Use full width */
padding: 1em; /* Adjust padding */
}

.thread-comment-container .thread-comment-container {
margin-left: 2rem; /* Reduce indentation for sub-comments */
}

a.link-button{
/*Adjust spacing */
margin-left: 1rem;
size:30%;
width:30%
}
}
